.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
models/
.DS_Store
*.log
node_modules/


# Ignore large dataset files
data/news.csv
data/Fake.csv
data/True.csv

# Ignore all CSVs except small demo ones
*.csv
!demo.csv
!manual_testing.csv


